<div class="container mx-auto mt-10 text-left">
    <h4 class="text-2xl font-bold mb-4">Internal Server Error - Refreshing the page will make the error disappear</h4>

    <ng-container *ngIf="error">
        <div class="bg-white rounded-md shadow-md p-6 mb-4">
            <h5 class="text-red-500 font-bold">Error: {{error.message}}</h5>
            <p class="font-bold mb-2">Note: If you are seeing this, then Angular is probably not to blame.</p>
            <p class="mb-2">What to do next?</p>
            <ol class="list-decimal ml-6 mb-4">
                <li>Open Chrome dev tools! Then check the failing request in the network tab</li>
                <li>Examine the request URL - what API endpoint are you requesting?</li>
                <li>Reproduce the problem in Postman - if we get the same error, Angular is 100% not the problem</li>
            </ol>

            <p class="font-bold mb-2">Following is the stack trace - the first few lines will tell you which line of code caused the issue in the API</p>
            <code class="mt-2 p-4 block bg-whitesmoke">
                {{error.details}}
            </code>
        </div>
    </ng-container>
</div>
