/* user-management.component.css */
:host {
  display: block;
  padding: 1rem;
}

.mat-table {
  width: 100%;
  margin-top: 1rem;
  overflow: auto;
}

.mat-cell {
  text-align: center;
}

.actions-column {
  text-align: center;
}

.btn-edit-roles {
  background-color: #2196f3;
  color: #fff;
}
