<div class="md:flex md:space-x-4" *ngIf="member">
    <div class="md:w-1/2">
      <h1>Your Profile</h1>
    </div>
    <div class="md:w-1/2">
      <div class="bg-blue-100 p-4 mb-4 rounded" *ngIf="editForm.dirty">
        <p class="font-semibold">Information:</p>
        <p>You have made changes. Any unsaved changes will be lost.</p>
      </div>
    </div>
  
    <div class="md:w-1/2">
      <div class="card">
        <img [src]="member.photoUrl || './assets/user.png'" [alt]="member.knownAs" class="card-img-top img-thumbnail">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ member.city }}, {{ member.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ member.age }}</p>
          </div>
          <div>
            <strong>Last active:</strong>
            <p>{{ member.lastActive | timeago }}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{ member.created | date: 'dd MMM yyyy' }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" [disabled]="!editForm.dirty" form="editForm" class="btn btn-success col-12">Save changes</button>
        </div>
      </div>
    </div>
  
    <div class="md:w-1/2">
      <mat-tab-group class="member-tabset">
        <mat-tab label="About {{ member.knownAs }}">
          <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
            <h4 class="mt-2">Description</h4>
            <textarea matInput [(ngModel)]="member.introduction" name="introduction" rows="6"></textarea>
  
            <h4 class="mt-2">Looking for</h4>
            <textarea matInput [(ngModel)]="member.lookingFor" name="lookingFor" rows="6"></textarea>
  
            <h4 class="mt-2">Interests</h4>
            <textarea matInput [(ngModel)]="member.interests" name="interests" rows="6"></textarea>
  
            <h4 class="mt-2">Location Details:</h4>
            <div class="flex items-center">
              <mat-form-field appearance="fill" class="mx-2">
                <mat-label>City</mat-label>
                <input matInput [(ngModel)]="member.city" name="city">
              </mat-form-field>
  
              <mat-form-field appearance="fill" class="mx-2">
                <mat-label>Country</mat-label>
                <input matInput [(ngModel)]="member.country" name="country">
              </mat-form-field>
            </div>
          </form>
        </mat-tab>
  
        <mat-tab label="Edit Photos">
          <app-photo-editor [member]="member"></app-photo-editor>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  