<div class="container mx-auto mt-10 text-center">
    <h1 class="text-4xl font-bold mb-5">Find Your Perfect Match</h1>
    <p class="text-lg mb-8">Sign up now to discover your matches and start a new journey!</p>

    <div class="flex flex-col sm:flex-row items-center justify-center space-y-3 sm:space-y-0 sm:space-x-3">
        <button mat-button color="primary" class="mb-3 sm:mb-0" (click)="registerToggle()">
            <mat-icon>person_add</mat-icon> Register
        </button>
        <button mat-button color="accent" class="mb-3 sm:mb-0">
            <mat-icon>info</mat-icon> Learn More
        </button>
    </div>

    <div *ngIf="registerMode" class="container mt-8">
        <div class="flex justify-center">
            <div class="w-full sm:w-1/2">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container mx-auto mt-5">
    <div *ngIf="!registerMode" class="text-center">
        <h1 class="text-3xl font-bold">Find your match</h1>
        <p class="text-lg mt-2">Come on in to view your matches... all you need to do is sign up!</p>
        <div class="mt-4">
            <button (click)="registerToggle()" mat-raised-button color="primary" class="me-2">Register</button>
            <button mat-raised-button color="accent" class="me-2">Learn more</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container mx-auto">
        <div class="flex justify-center">
            <div class="w-64">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div> -->
