<mat-progress-spinner #spinner></mat-progress-spinner>
<div class="text-center mt-3">
    <h2 class="mat-h2">Your matches - {{pagination?.totalItems}} found</h2>
  </div>
  
  <ng-container class="container mt-3" *ngIf="userParams">
    <mat-card class="mat-elevation-z2 mt-3">
      <form #form="ngForm" class="flex flex-wrap p-6" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="flex items-center mb-3">
          <mat-form-field class="w-full">
            <label class="col-form-label">Age from: </label>
            <input matInput type="number" name="minAge" [(ngModel)]="userParams.minAge">
          </mat-form-field>
        </div>
  
        <div class="flex items-center mb-3">
          <mat-form-field class="w-full">
            <label class="col-form-label">Age to: </label>
            <input matInput type="number" name="maxAge" [(ngModel)]="userParams.maxAge">
          </mat-form-field>
        </div>
  
        <div class="flex items-center mb-3">
          <mat-form-field class="w-full">
            <label class="col-form-label me-2">Show: </label>
            <mat-select name="gender" [(ngModel)]="userParams.gender">
              <mat-option *ngFor="let gender of genderList" [value]="gender.value">{{ gender.display }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="flex items-center mr-auto">
          <div class="btn-group">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon class="me-1">filter_alt</mat-icon>
              Apply Filters
            </button>
            <button mat-raised-button color="warn" (click)="resetFilters()" type="button">
              <mat-icon class="me-1">clear</mat-icon>
              Reset Filters
            </button>
          </div>
        </div>

        <div class="flex items-center ml-auto">
          <div class="btn-group">
            <button type="button" mat-raised-button color="primary" name="orderBy" [value]="'lastActive'" (click)="loadMembers('lastActive')">
              <mat-icon class="me-1">schedule</mat-icon>
              Last Active
            </button>
        
            <button  type="button" mat-raised-button color="primary" name="orderBy" [value]="'created'" (click)="loadMembers('created')">
              <mat-icon class="me-1">fiber_new</mat-icon>
              Newest Members
            </button>
          </div>
        </div>

      </form>
      
    </mat-card>
  </ng-container>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-3">
    <app-member-card *ngFor="let member of members" [member]="member"></app-member-card>
  </div>
  
  <div class="flex justify-center mt-3" *ngIf="pagination">
    <!-- <mat-paginator
      [length]="pagination.totalItems || 0"
      [pageSize]="pagination.itemsPerPage || 0"
      [pageIndex]="pagination.currentPage || 1"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="pageChanged($event)"
    ></mat-paginator> -->

    <mat-paginator
    [length]="pagination.totalItems || 0"
  [pageSize]="pagination.itemsPerPage || 0"
  [pageIndex]="(pagination.currentPage || 1) - 1"
  [pageSizeOptions]="[4, 8, 16, 32 , 48 , 60]"
  (page)="pageChanged($event)"
>
</mat-paginator>

  </div>
  