<div class="modal-header flex items-center justify-between p-4 bg-blue-500 text-white">
    <h4 class="text-lg md:text-xl lg:text-2xl">Edit Roles for {{ userName }}</h4>
    <button
      type="button"
      class="btn-close close text-white"
      aria-label="Close"
      (click)="dialogRef.close()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  
  <div class="modal-body p-4">
    <form>
      <div class="space-y-2">
        <div
          class="flex items-center space-x-2"
          *ngFor="let role of availableRoles"
        >
          <mat-checkbox
            class="form-check-input text-blue-500"
            [checked]="selectedRoles.includes(role)"
            (change)="updateChecked(role)"
          >
            {{ role }}
          </mat-checkbox>
        </div>
      </div>
    </form>
  </div>
  
  <div class="modal-footer flex justify-end p-4">
    <button
      type="button"
      class="btn btn-default px-4 py-2 bg-blue-500 text-white hover:bg-blue-600"
      (click)="submit()"
    >
      Submit
    </button>
  </div>
  