<nav class="bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600
 text-white fixed top-0 w-full shadow-md font-poppins">
  <div class="container mx-auto flex flex-wrap 
  items-center justify-between p-4">
    <!-- Brand -->
    <a class="text-lg font-bold" routerLink="/" routerLinkActive="active">Chat Application</a>

    <!-- Navigation Links -->
    <ul class="flex flex-wrap items-center space-x-4 md:space-x-8">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li>
          <a mat-button routerLink="/members" 
          [routerLinkActiveOptions]="{exact:true}"
          routerLinkActive="active">Matches</a>
        </li>
        <li>
          <a mat-button routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li>
          <a mat-button routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
        <li *appHasRole="['Admin','Moderator']">
          <a mat-button routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ng-container>
      <li>
        <a mat-button routerLink="/errors" routerLinkActive="active">Errors</a>
      </li>
    </ul>

    <!-- User Dropdown or Login Form -->
    <div *ngIf="(accountService.currentUser$ | async) as user" 
    class="relative group flex items-center">
      <div class="flex items-center">
        <span class="text-white-500 text-lg font-semibold mr-4">{{ 'Welcome ' + user.knownAs }}</span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-haspopup="true" aria-expanded="false" class="p-2 focus:outline-none">
          <div class="flex items-center">
            <img src="{{ user.photoUrl || './assets/user.png' }}" alt="user photo" class="w-16 h-16 rounded-full object-cover cursor-pointer border-2 border-teal-500">
            <mat-icon class="ml-2 text-teal-500">arrow_drop_down</mat-icon>
          </div>
        </button>
      </div>
      
      <mat-menu #userMenu="matMenu" class="bg-white text-gray-800 rounded shadow-md border-t-4 border-teal-500">
        <button mat-menu-item class="py-2 px-4 hover:bg-teal-100 transition duration-300 ease-in-out" routerLink="/member/edit">
          <span class="flex items-center">
            <i class="material-icons mr-2 text-teal-500">edit</i> Edit Profile
          </span>
        </button>
        <button mat-menu-item class="py-2 px-4 hover:bg-teal-100 transition duration-300 ease-in-out" (click)="logout()">
          <span class="flex items-center">
            <i class="material-icons mr-2 text-teal-500">logout</i> Logout
          </span>
        </button>
      </mat-menu>
      
    </div>
    

    <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2"
      (ngSubmit)="login()" autocomplete="off">
      <input name="userName" [(ngModel)]="model.userName" class="px-4 py-2 bg-white text-teal-600 placeholder-teal-400 rounded focus:outline-none"
        type="text" placeholder="Username">
      <input name="password" [(ngModel)]="model.password" class="px-4 py-2 bg-white text-teal-600 placeholder-teal-400 rounded focus:outline-none"
        type="password" placeholder="Password">
      <button class="px-4 py-2 bg-teal-500 text-white rounded hover:bg-teal-600 focus:outline-none mt-2 md:mt-0"
        type="submit">Login</button>
    </form>
  </div>
</nav>
